<header class="wl-header">
	<div class="wl-header__left">
		<a href="" class="wl-header__logo">
			<img src="%=static=%img/general/logo.svg" width="" height="" alt="logo">
		</a>
		<div class="wl-header__search">
			{{> wl-search/wl-search}}
		</div>
	</div>
	<div class="wl-header__right">
		<button type="button" class="wl-header__button">New Stream</button>
		<div class="wl-header__notifications">
			{{> wl-notifications/wl-notifications}}
		</div>
		<div class="wl-header__notifications">
			{{> wl-user-menu/wl-user-menu}}
		</div>
	</div>
</header>
